@import 'site-custom.css';
@import url('site-custom.css');

@media(min-width:1281px) and (max-width:1921px){
	#main-container{
		box-sizing:box-border;
	}
	nav{
		width:50%; /*940px / 1880px*/
		margin:0 auto; /*235px/940px*/
	}
	#services{
		width:80%;
		margin-left:40%;
	}
}
