/**************
Color Swatches:

#3DBB7E // R=61 G=187 B=126 //AQUA
#A3CD39 // R=163 G=205 B=57 //LIME GREEN
#FBAC1D // R=251 G=172 B=29 //SUNFLOWER
#F96C1E // R=249 G=108 B=30 // PUMPKIN
#EE4036 // R=238 G=64 B=54 // RED-ORANGE
********************/
@import url(http://fonts.googleapis.com/css?family=Rambla:400,700);

body{
	font-family: actor, sans-serif;
	background-color:#FFF;
	overflow-x: hidden;
	margin: auto 0;
}
#main-container{
	max-width: 1280px;
	position:fixed;
}
nav{
	height:auto !important;
	width: 55%;
	margin-left:32%;

}
nav ul{ 
	list-style-type: none;
}
nav li{
	display:inline;
	color:#3DBB7E;
	font-size:1.5em;
	padding-left:2.6041%; /*50px / 1920px*/
}
a{
	text-decoration:none;
	color:#fff;
	font-size:.875em;
}
header h1, h2, h3, h4{
	font-size:2.25em;
	font-family: sansita-one, sans-serif;
	color:#A3CD39;

}
img{
	max-width:100%;
	height:auto;
}
/*Summary Style*/
#summ{
	background-color:#EE4036;
	width:100%;
	height:auto !important;
	padding-bottom:1.3020%;/*25px/1920px*/
	padding-top:1.3020%;
	margin-top:1.3020%;
}
#logo{
	margin-top:1.3020%;
	margin-left:41.25%;
}

#summ article{
	width:60%;/*960/1920*/
	font-family: rambla, sans-serif;
	font-size:2em;
	color:#fff;
	margin-left:20%;
	margin-top:1.3020%;
	padding-bottom:1.3020%;
}
/*Hover shapes*/
.circle{
	width:270px;
	height:270px;
	background:#3DBB7E;
	-moz-border-radius:70px;
	-webkit-border-radius:70px;
	border-radius:70px;
}
/*Services Style*/
#services header{
	margin-left:43.5%;
}
#services #wd{
	width:80%;
	margin-left:16.75%;/*100px / 1920px */
}
#projects{
	width:100%;
	background-color:#FBAC1D;	
	float:left;
	padding-top:2.6041%;
	padding-bottom:2.6041%;
	padding-right: 2.6041%;
}
.placeholder{
	width:15.625%;/*200px / 1920px */
	height:auto !important;
	margin-left:3.125%; /*60px/1920px*/
	margin-bottom:1%;
	display:inline-block;
}
#projects p{
	color:#EE4036;
	font-family: actor, sans-serif;
	margin-left:42%;

}
/*About me*/
#about_me{
	width:100%;
	float:left;
	clear:both;
	margin-top:1.0416%;
	margin-bottom:1.3020%;
}
#about_me h3{
	margin-left:43%;
	margin-top:0.5208%;/*10px / 1920px*/
}
#about_me article{
	color:#fff;
	font-size:1.25em;
	width:60%;/*900px 1920px*/
	float:left;
	clear:both;
	background-color:#F96C1E;
	padding-top:5.2083%;/*100px/1920px*/
	padding-bottom:5.2083%;
	padding-left:20%;
	padding-right:32%;
}
#contact_me{
	width:100%;
	float:left;
	clear:both;
	margin-bottom:10.4166%;/*200px/1920px*/
}
#contact_me h4{
	margin-left: 43%;

}
form{
	width:30%;/*600/1920*/
	height:auto !important;
	margin-left:33%;
	padding-left:0.5208%;
	box-shadow:none;
	margin-bottom:0.5208%;
}
input.cont-input{
	width:100%;
	padding-left:5px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:20px;
	background-color:#3DBB7E;
	border:none;
}
.cont-input.message{
	padding-bottom:250px;/*250px/1920px*/
	background-color:#3DBB7E;
	border:none;
	margin-top:20px;
}
input:focus{
	border:none;
}
.btn{
	color:#3DBB7E;
	font-size:1.5em;
	width:100%;
	background-color:#F96C1E;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	margin-top:20px;
	margin-left:2px;
	border:none;
}
footer{
	margin-bottom:2%;
	margin-left:3%;
}
#scrollUp {
  bottom: 1.0416%;
  right: 1.0416%;
  padding:  0.5208% 1.0416%;
  border-radius: 0.5208%;
  background:#3DBB7E;
  color: #F96C1E;
}

/*Media Queries*/
/*Screen size 1440px to 1600px*/
@media only screen and (min-width:1441px) and (max-width: 1601px){
	nav{
		width:50%; /*940px / 1880px*/
		margin-left:31%; /*235px/940px*/
	}
	#logo{
	margin-top:1.3020%;
	margin-left:39%;
	}
	#services header, #about_me h3 ,#contact_me h4{
	margin-left:40%;
	}
	#services #wd{
	margin-left:17%;
	}
}
/*Screen size up to 1920 * 800px*/
@media only screen and (min-width:1602px) and (max-width:1921px){
	nav{
		width:50%; /*940px / 1880px*/
		margin-left:35%; /*235px/940px*/
	}
	#services #wd{
	margin-left:10%;
	}
	#summ{
	width:100%;
	height:auto !important;
	padding-bottom:1.3020%;/*25px/1920px*/
	padding-top:1.3020%;
	margin-top:1.3020%;
	}
	#logo{
	margin-top:1.3020%;
	margin-left:42%;
	}
	#summ article{
	width:100%;/*960/1920*/
	margin-left:26%;
	margin-top:1.3020%;
	padding-bottom:1.3020%;
	}
	#services header, #about_me h3 ,#contact_me h4{
	margin-left:43%;
	}	
	#services #wd{
	width:100%;
	margin-left:24%;
	}
	form{
		padding-left:3%;
	}
	#about_me article{
		width:60%;
		line-height:1.5em;
		padding-left:20%;
	}
}
/*Screen size max width 1024 x 768px*/
@media only screen and (min-width:1023px) and (max-width:1279px){
	nav{
		width:50%; /*940px / 1880px*/
		margin-left:29.5%; /*235px/940px*/
	}
	#summ{
	width:100%;
	height:auto !important;
	padding-bottom:1.3020%;/*25px/1920px*/
	padding-top:1.3020%;
	margin-top:1.3020%;
	font-size:0.75em;
	}
	#logo{
	margin-top:1.3020%;
	margin-left:42.75%;
	}
	#summ article{
	font-size:2em;
	width:60%;/*960/1920*/
	margin-left:25%;
	margin-top:1.3020%;
	padding-bottom:1.3020%;
	}
	#projects p{
	color:#EE4036;
	font-family: actor, sans-serif;
	margin-left:41.75%;
}
	#services header, #about_me h3 ,#contact_me h4{
	margin-left:45%;
	}	
	#services #wd{
	margin-left:15%;
	}
	form{
		padding-left:2%;
	}
	#about_me article{
		line-height:1.5em;/*one and a half space*/
		font-size:1em; /*16px*/
		width:60%;
		padding-left:23%;
	}

}
@media only screen and(min-device-width:768px) and (max-device-width:1024px){
	nav{
		margin-left:10%;
	}
}


